{% extends "base.html" %}

{% block title %}<title>Register</title>{% endblock title %}

{% block content %}

    <div class="w-50 mx-auto pt-5">


        <form method="post" class="row">
            {% csrf_token %}
            <div class="col-12 p-2">{{form.user_role}}</div>
            <div class="col-12 p-2">{{form.first_name}}</div>
            <div class="col-12 p-2">{{form.last_name}}</div>
            <div class="col-12 p-2">{{form.username}}</div>
            <div class="col-12 p-2">{{form.email}}</div>
            <div class="col-12 p-2">{{form.password1}}</div>
            <div class="col-12 p-2">{{form.password2}}</div>
            <button type="submit" class="btn btn-info">Register</button>
        </form>



        {% if form.errors %}
            <div class="alert alert-error">
                <ul>
                    {% for field, errors in form.errors.items %}
                        <li class="list-disc list-inside">{{field}} {{ errors.0 }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}


    </div>


{% endblock content %}
