{% extends "base.html" %}
{% block title %}
    <title>Attendees Dashboard</title>
{% endblock title %}
{% block content %}
    <main class="container pt-5">
        <div class="row">
            <h1 class="col-8">Your All Attendees</h1>
            <div class="col-4">
                <select class="form-select" aria-label="Default select example" onchange="window.location.href = this.value;">
                    <option selected>Open this select menu</option>
                    <option value="/attendees/">All Events</option>
                    <option value="/attendees/?accepted=true">Accepted Events</option>
                    <option value="/attendees/?accepted=false">Pending Events</option>
                </select>
            </div>
        </div>
        <div class="row pt-3">
            {% for event in events_attending %}
                <div class="col-sm-6 mb-3 mb-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <a class="link-primary" href="/event/{{event.event.id}}/"><h5 class="card-title">{{event.event.name}}</h5></a>
                                </div>
                                <div class="col-6">
                                    <div>
                                        {% if request.user.user_role == 'attendee' and user not in event.event.attendees.all %}
                                            <a href="/add_attendee/{{event.id}}/">
                                                <button class="btn btn-info">Accept</button>
                                            </a>
                                        {% endif %}
                                        {% if request.user in event.event.attendees.all %}
                                            <button type="button" class="btn btn-success">Already Added</button>
                                        {% endif %}
                                        <button disabled class="btn btn-danger">Decline</button>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">Date: {{ event.event.date }}, Time: {{ event.event.time }}</p>
                            <p class="card-text">Organizer: {{ event.organizer.first_name }} {{ event.organizer.last_name }}</p>
                            <p class="card-text">Category: {{ event.categories |title }}</p>
                            <div class="card-text">
                                Attendee Count: <span id="attendeeCount">{{ event.event.attendees.count }}</span>
                            </div>
                            <div class="pt-2">
                                Tags :
                                {% for tag in event.event.tags.all %}
                                    <a href="/?tag={{ tag }}" class="btn btn-secondary btn-sm">{{ tag }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
