{% extends "base.html" %}
{% block title %}
    <title>{{event.name}}</title>
{% endblock title %}
{% block content %}
    <main class="container pt-5">
        <div class="col-sm-6 mb-3 mb-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">{{event.name}}</h5>
                        </div>
                        <div class="col-4">
                            <a href="/update-event/{{event.id}}/" class="btn btn-info">Update</a>
                            <a href="/delete-event/{{event.id}}/" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                    <p class="card-text">Date: {{ event.date }}, Time: {{ event.time }}</p>
                    <p class="card-text">Location: {{ event.location }}</p>
                    <p class="card-text">Description: {{ event.description }}</p>
                    <p class="card-text">Organizer: {{ event.organizer.first_name }} {{ event.organizer.last_name }}</p>
                    <p class="card-text">Category: {{ event.categories |title }}</p>          <div class="card-text">
                    Attendee Count: <span id="attendeeCount">{{ event.attendees.count }}</span>
                </div>
                    <div class="pt-2">
                        Tags :
                        {% for tag in event.tags.all %}
                            <a href="/?tag={{ tag }}" class="btn btn-secondary btn-sm">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <hr>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Accept</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for attendee in attendees %}
                            <tr>
                                <th scope="row"> {{ forloop.counter }}</th>
                                <td>{{attendee.user.first_name}}</td>
                                <td>{{attendee.user.email}}</td>
                                {%if attendee.accepted%}
                                    <td><a href="#" type="button" class="btn btn-success btn-sm">Accepted</a></td>
                                {%else%}
                                    <td><a href="/accept/{{attendee.id}}/" type="button" class="btn btn-info btn-sm">Accept</a></td>
                                {%endif%}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </main>
{% endblock content %}
