{% extends "base.html" %}
{% block title %}
    <title>Home</title>
{% endblock title %}
{% block content %}
    <div class="container pt-5">
        <h1>EventHub - Streamlining Your Event Experience</h1>
        <p>EventHub is a comprehensive Event Management System designed to simplify and enhance the process of organizing and participating in events. Whether you're an event organizer or an attendee, EventHub provides a user-friendly platform to create, manage, and engage with events effortlessly. From seamless event creation and management to efficient attendee tracking, EventHub offers a centralized solution for all your event-related needs.</p>
    </div>
{% endblock content %}
